---

const template = [
    {
        heading: "",
        paragraph: "",
        video: "",
        id: "",
    },
]

const content = [
    
    {
        heading: "How long does it take to see results from High Performance Coaching?",
        paragraph: "You can expect to see immediate impact after your first session and as long as you are committed to the process, your results can compound with each future engagement. Don’t just take our advice, listen to some of our delighted clients.",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a1255a5d973a3a016c9b52.mp4",
        id: "",
    },
    {
        heading: "What techniques or tools are commonly used in High Performance Coaching?",
        paragraph: "Our frameworks have been tested and validated with over 200,000 assessments and sessions.  Using different psychological models, we will help you unlock performance in 6 key success habits and we will add an element of accountability to you to move forward with velocity! ",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a1277182909a70d9c2e7a2.mp4",
        id: "",
    },
    {
        heading: "What should I expect during a typical coaching session?",
        paragraph: "Each session has a theme, structure and focus.  A session is highly interactive and lasts 60 minutes.  You will be given tools and lifework activities to improve your awareness and skills. Each session builds on the previous session and that is when you will start experiencing more from their life and business.The best way to get a taste and see if high performance coaching is for you, is to register and apply for a free (1) hour coaching class.",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a127d6832cb4e83d5cf531.mp4",
        id: "",
    },
    {
        heading: "I am doing a great job growing my business and leading in my industry. What can a performance coach do for me…?",
        paragraph: "If you’re thriving in business, congratulations on your success! But here’s a question—how are the other areas of your life? Are you truly winning in every aspect, or is something missing? Many high achievers who dominate in business struggle in their relationships, health, or sense of fulfillment. You’ve likely heard the saying, “What does it profit a man to gain the whole world but lose his soul?” I believe success without fulfillment is failure—your bank account may be overflowing, yet you might still feel an emptiness inside. Then again, maybe you are balanced, blissful, and crushing it in every way—but as a leader, who do you confide in? Discussing challenges with less experienced team members can unintentionally sow seeds of doubt, affecting their confidence in your vision. And doubt, once planted, can be a dangerous force. What blind spots are you missing that could impact the future success of your business? Partnering with a performance coach gives you a powerful soundboard, helping you gain clarity and confidence for your next bold move. Nobody cares more about your goals than you—and your coach. This could be the beginning of a powerful and mutually beneficial partnership. If you’re hungry for more and believe performance coaching can support your brighter future, make the decision to explore it. Click the link below to apply for a complimentary one-hour session—let’s do this!",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a12aecaaffd357da498dd7.mp4",
        id: "",
    },
    {
        heading: "How do I choose the right coach for me?",
        paragraph: "There are many coaches on the market, all passionate about helping people, but while some are excellent, most lack real experience—I know because I’ve hired several over the years. The best coaches adapt to different personalities and, as long as you're committed to the outcome, they help you get there faster while making the process enjoyable. I am considered a leading performance coach because I have spent three decades grinding, building businesses, and mastering results. With over 15 years of experience coaching business leaders—helping startups grow into companies averaging $500K to $5M annually—my passion is guiding others to thrive with confidence and unlock their highest potential. Even after achieving financial independence, my drive to contribute, serve, and give back remains strong. If you're curious to see if we’re the right fit, click the link below and apply for a FREE performance coaching session—take your first step now!",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a1285cf20853abfa70b3a4.mp4",
        id: "",
    },
    {
        heading: "What is the ROI of performance coaching?",
        paragraph: "You can expect both tangible and intangible benefits when enrolling in our performance coaching. Tangible benefits include measurable improvements such as increased productivity—training combined with coaching can boost productivity by up to 88% (Harvard Business Review). Companies with strong coaching cultures report 51% higher revenue than their industry peers, while coaching also enhances employee engagement and retention, reducing costly turnover (Coaching Statistics: The ROI of Coaching in 2024). Intangible benefits, though harder to measure, are just as valuable—coaching strengthens leadership skills, improves employee engagement, and fosters better team dynamics (Forbes, Luisa Zhou). When it comes to ROI, studies show coaching delivers a 6-7x return on investment, with Fortune and Manchester, Inc. highlighting its direct financial impact. One of the biggest hidden costs in business is slow growth and lagging revenue—if your business is stagnant or declining, change is necessary. Performance coaching could be the catalyst that reignites your growth, and if that’s the case, there’s really nothing else to discuss. By submitting your assessment, you could qualify for a complimentary one-hour session to see if hiring a performance coach makes sense for you. Click below to get started!",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a128c809c37427e73fd29b.mp4",
        id: "",
    },
    {
        heading: "What guarantees do you have?",
        paragraph: "Our Commitment is Your Confidence—every session is designed to be focused, productive, and impactful, ensuring you gain knowledge, enhance skills, or acquire new insights. We customize training programs to align with your specific objectives, provide detailed recaps with action steps after each session, and offer 30 days of email support for any follow-up questions. Our journey together is a true partnership, and we back our services with the boldest guarantee in the industry—a 30-day, no-questions-asked refund for digital products, a full refund after the first coaching session if you’re not 100% satisfied, and a follow-up corporate training session at no extra cost if expectations aren’t met. We are committed to delivering lasting value, not chasing quick wins, and we stand by our ability to exceed your expectations. Let’s start your journey toward the best version of you today! Click the link below, complete your assessment, and let’s set up a time to discuss your goals.",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a1299a0aa81b029528915a.mp4",
        id: "",
    },
    {
        heading: "I'm doing well now, do I really need performance coaching?",
        paragraph: "The benefits of performance coaching for individuals and businesses are significant, but the hidden costs of not integrating it into your training and development programs can be even greater. Your business may have thrived in the past, but how is it doing now—really? And more importantly, how are you doing, both professionally and personally? You may not need performance coaching, and in fact, you may not even be the right fit for us. Coaching is for those who seek an edge to reach their fullest potential—just as nearly every industry relies on internal and external coaches to bring out the best in their people. The truth is, there’s always a price and a cost—the price of investing in growth versus the cost of not evolving. The cost of failing to elevate yourself and your team’s focus, habits, and skills can be much higher, leading to outdated skill sets, decreased productivity, lower job satisfaction, and increased turnover. You could figure things out on your own, but at what cost? More time, lost revenue, and endless frustration? A few years ago, I lost both my parents in the same year, and it hit me—you can always make more money, but lost time is gone forever. In today’s fast-paced world of AI and technological evolution, adapting isn’t optional—it’s a necessity. Businesses that resist change risk becoming obsolete now, and it’s happening faster than you think. If you want to explore how performance coaching can future-proof your career and business, click the link below to complete an assessment. If selected, you may qualify for a FREE one-hour performance coaching session.",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a12a1898bf1cbfc863d214.mp4",
        id: "",
    },
    
    {
        heading: "Can performance coaching address personal challenges or is it strictly professional?",
        paragraph: "It all depends on what you want! But before we dive in—full disclosure—performance coaching is not therapy. If you’re dealing with mental health issues, emotional trauma, or deep depression, seeking professional counseling from a licensed therapist is the right step. Now, back to your question—coaching can focus strictly on business, personal growth, or both. If your priority is business, that will be the core of our sessions. However, through uncovering false beliefs or conflicting values, business coaching often segues into personal areas like relationships or health, as these directly impact professional success. I’ve worked with several coaches over the years, and my best coach guided me for seven years. Initially, I focused solely on business, but eventually, we explored my marriage—and that shift changed both of our lives forever. Today, after nearly 30 years, my wife and I have more love, playfulness, and intimacy than ever before. Being truly connected with my soulmate created a healthy foundation that allowed my business to thrive continuously while bringing even more joy into the process. Great performance coaching unlocks potential in every area of your life. We look forward to supporting you in becoming your best future self! Click the link below to submit your assessment—you may qualify for a FREE one-hour performance coaching session.",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a12b4b6f0e73f2e00ba2ad.mp4",
        id: "",
    },
    {
        heading: "How affordable is Performance Coaching for a start up entrepreneur?",
        paragraph: "The ROI of performance coaching is estimated to be 5-7x the investment, making it one of the most cost-effective strategies for achieving high performance and sustained success. But let’s put money into perspective—people regularly spend thousands on dining out, clothing, luxury hobbies, and travel, with the average family spending $6K per year on eating out and a one-week vacation for two costing $5K or more. While these expenses add to our quality of life, isn’t your emotional, physical, and financial well-being just as important—if not more? Most of our clients earn $150K-$250K+ per year and understand that investing in education and training is a legitimate business expense and tax deduction—and even if you don’t run a business, check with your tax advisor on potential credits for education expenses. With performance coaching, you receive personalized strategies to boost focus, productivity, and confidence, unlocking opportunities far beyond the initial investment. As Warren Buffett famously said, “The best investment you can make is not in any stock or business—it’s in YOU.” The better question to ask yourself isn’t whether coaching is worth it, but can you afford to wait any longer? Successful people make decisive moves—decide today to invest in yourself! Apply for 1-on-1 or group coaching by clicking the link below and filling out your assessment NOW.",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a12bc2b1b7b28511b680d9.mp4",
        id: "",
    },
    {
        heading: "What is the difference between Group and 1-on-1 Coaching?",
        paragraph: "",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a12c1a98bf1c4a6a63d3a4.mp4",
        id: "",
    },
    {
        heading: "How much time does it take to enroll in performance coaching?",
        paragraph: "",
        video: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/67a12c7295257cb3c04a8efd.mp4",
        id: "",
    },
]
---

<!-- FAQ -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Your questions, answered</h2>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">Answers to the most frequently asked questions.</p>
    </div>
    <!-- End Title -->
  
    <div class="max-w-2xl mx-auto">
      <!-- Accordion -->
      <div class="hs-accordion-group">
        {
            content.map((item,i) => (
            <div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10" id="hs-basic-with-title-and-arrow-stretched-heading-two">
          <button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two">
            {item.heading}
            <svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
            <svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
          </button>
          <div id="hs-basic-with-title-and-arrow-stretched-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two">
            <video class="mb-2" controls src={item.video}></video>
            <p class="text-gray-800 dark:text-neutral-200">
              {item.paragraph}
            </p>
          </div>
        </div>
            ))
        }
      </div>
      <!-- End Accordion -->
    </div>
  </div>
  <!-- End FAQ -->