---
const list = [
  {
    header: "They want more success at work.",
    text: "",
  },
  {
    header: "They want more happiness.",
    text: "",
  },
  {
    header: "They want more passion in their relationships.",
    text: "",
  },
  {
    header:
      "They want more money. More energy. More productivity. More meaning.",
    text: "",
  },
];
---

<!-- ! START PPUHero2 --><!-- Icon Blocks -->
<section class="dark bg-slate-900">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <div class="max-w-3xl mx-auto">
          <!-- Grid -->
          <div class="grid gap-12">
      
            <div class="space-y-6 lg:space-y-10">
      
      
              <div>
                <h2
                  class="text-3xl text-center bg-clip-text bg-gradient-to-tl from-blue-400 to-violet-400 text-transparent font-bold lg:text-4xl mb-4"
                >
                  Everyone wants more of the good things that life has to offer,
                  right?
                </h2>
                <p class="mt-1 text-gray-400 dark:text-neutral-300 text-center sm:text-xl">
                  Well, to get more, people need to activate their full potential.
                  They need to hit a higher gear and become high performers at
                  whatever they do. They have to become more focused, productive,
                  influential, and successful.
                </p>
                <h2
                class="text-3xl text-center bg-clip-text bg-gradient-to-tl from-blue-400 to-violet-400 text-transparent font-bold lg:text-4xl mb-4 mt-4"
              >
              But it’s not easy. And most people are
              struggling more than they have to in these areas.
              </h2>
                <p class="mt-1 text-gray-400 dark:text-neutral-300 text-center sm:text-xl">
                    Even though we all have big goals and dreams, most people today are drowning in stress,
overwhelm, and uncertainty. The sad thing is that if they don’t figure out how to turn it around, they’ll not only fail to
accomplish their dreams, but as the economy keeps getting better they’ll simply be left behind.
                  </p>
                  <p class="my-2 text-gray-400 dark:text-neutral-300 text-center sm:text-xl font-bold">
                    So think about YOUR life.
                  </p>
                  <p class="mt-1 text-gray-400 dark:text-neutral-300 text-center sm:text-xl italic">
                    Do you feel you’re being as productive, influential, and successful as you want to?
                  </p>
                  <p class="mt-1 text-gray-400 dark:text-neutral-300 text-center sm:text-xl italic">
                    Are you struggling to stay focused, to get ahead, or to better influence your team or customers?
                  </p>
                  <p class="mt-1 text-gray-400 dark:text-neutral-300 text-center sm:text-xl italic">
                    Have you reached a plateau in your progress and struggled to breakthrough to the next level of
joy, power, and achievement?
                  </p>
                  <p class="mt-1 text-gray-400 dark:text-neutral-300 text-center sm:text-xl italic">
                    Have you gotten tired of being at the same level of success and happiness for too long? Do you
miss the pulse and vibrancy of growing and contributing at your highest levels?
                  </p>
              </div>
            </div>
          </div>
          <!-- End Grid -->
        </div>
      </div>
</section>



<!-- End Icon Blocks -->
<!-- ! END PPUHero2 -->
