---

---

<!-- ! SECTION HCTA -->
<section class="dark bg-black" id="joindirectsalesedge">
    <!-- Hero -->
<div class="overflow-hidden">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-20">
      <div class="relative mx-auto max-w-4xl grid space-y-5 sm:space-y-10">
        <!-- Title -->
        <div class="text-center">
          <h2 class="text-3xl text-gray-800 font-bold sm:text-5xl lg:text-6xl lg:leading-tight dark:text-neutral-200">
            Elevate Your Business <br> <span class="text-blue-500">Sales Leadership & Strategies for Success!</span>
          </h2>
          <div class="mt-5 max-w-3xl text-center mx-auto">
            <p class="text-lg text-gray-600 dark:text-neutral-400">Subscribe To James Tanti's FREE Email Newsletter and get the right guidance you as a leader truly deserve!</p>
          </div>
        </div>
        <!-- End Title -->
  
       
  
        <!-- Form -->
        <form>
          <div class="mx-auto max-w-2xl h-[480px] sm:flex sm:space-x-3 p-3 bg-white border rounded-lg shadow-lg shadow-gray-100 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-gray-900/20">
            <iframe
  src="https://api.leadconnectorhq.com/widget/form/1JGaBjn985I6oFSxQTwY"
  style="width:100%;height:100%;border:none;border-radius:3px"
  id="inline-1JGaBjn985I6oFSxQTwY" 
  data-layout="{'id':'INLINE'}"
  data-trigger-type="alwaysShow"
  data-trigger-value=""
  data-activation-type="alwaysActivated"
  data-activation-value=""
  data-deactivation-type="neverDeactivate"
  data-deactivation-value=""
  data-form-name="Form 0"
  data-height="432"
  data-layout-iframe-id="inline-1JGaBjn985I6oFSxQTwY"
  data-form-id="1JGaBjn985I6oFSxQTwY"
  title="Form 0"
      >
</iframe>
<script is:inline="https://link.msgsndr.com/js/form_embed.js"></script>
          </div>
        </form>
        <!-- End Form -->
  
      
  
       
      </div>
    </div>
  </div>
  <!-- End Hero -->
</section>
<!-- ! END SECTION HCTA -->