---
const testimonies = [
  {
    headline:
      "James is a great mentor. He is hardworking, motivated, inspirational and an overall great leader to boot! And as a great leader/mentor he does consistently follow up!",
    img: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/667af36819bb7a0556507632.png",
    name: "Cheng M.",
  },
  {
    headline:
      "James has been instrumental in helping me develop my sales skills and confidence. His guidance is invaluable!",
    img: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/667af46419bb7ae8035086cf.png",
    name: "Samantha R.",
  },
  {
    headline:
      "James is an exceptional teacher who has helped me grow both personally and professionally. I highly recommend him!",
    img: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/667af3a0a655f41dc002e89a.png",
    name: "Michael K.",
  },
  {
    headline:
      "James has the unique ability to make complex sales concepts simple and easy to understand. His teaching style is top-notch!",
    img: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/667af4d1a9ef867d83d0b972.png",
    name: "Emily W.",
  },
  {
    headline:
      "James is an outstanding mentor who has helped me achieve my career goals. His expertise and support are unmatched!",
    img: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/667af3ff7cd35a1183c0df3d.png",
    name: "David L.",
  },
  {
    headline:
      "James has an outstanding background in sales and leadership. I am thankful to be part of his community. I am guided to greatness thanks to his mentorship, coaching, FREE trainings and a lot of good stuff! Highly recommended",
    img: "https://storage.googleapis.com/msgsndr/eVZCTmUpFBz5E8QcsJDI/media/667af687c355fc156c37d253.png",
    name: "David L.",
  },
];
---

<!-- ! SECTION HTestimonials -->
<section class="dark bg-black">
  <!-- Testimonials -->
  <div class="overflow-hidden bg-gray-800 dark:bg-neutral-950">
    <div
      class="relative max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
    >
      <!-- Title -->
      <div class="max-w-2xl w-3/4 lg:w-1/2 mb-6 sm:mb-10 md:mb-16">
        <h2 class="text-2xl sm:text-3xl lg:text-4xl text-white font-semibold">
          Become a better sales leader today.
        </h2>
      </div>
      <!-- End Title -->

      <!-- Grid -->
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Card -->
        {
          testimonies.map((item, i) => (
            <div class="flex h-auto">
              <div class="flex flex-col bg-white rounded-xl dark:bg-neutral-900">
                <div class="flex-auto p-4 md:p-6">
                  <p class="text-base italic md:text-lg text-gray-800 dark:text-neutral-200">
                    "{item.headline}"
                  </p>
                </div>

                <div class="p-4 bg-gray-100 rounded-b-xl md:px-7 dark:bg-neutral-800">
                  <div class="flex items-center">
                    <div class="flex-shrink-0">
                      <img
                        class="h-[48px] rounded-md"
                        src={item.img}
                        alt="Image Description"
                      />
                    </div>

                    <div class="grow ms-3">
                      <p class="text-sm sm:text-base font-semibold text-gray-800 dark:text-neutral-200">
                        {item.name}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }

        <!-- End Card -->
      </div>
      <!-- End Grid -->
    </div>
  </div>
  <!-- End Testimonials -->
</section>
<!-- ! END SECTION HTestimonials -->
