---

---

<!-- ! SECTION HYouTube -->
<section class="dark bg-black">
    <!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Watch James Tanti's Content</h2>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">Stay in the know with insights from the creator of greatness himself.</p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card -->
      <a class="group" href="https://youtu.be/GZSgiGzmhhQ">
        <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
          <img class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="https://storage.googleapis.com/msgsndr/w3yWA6B5DKg1s1vpmFKk/media/665a1091c457765cdec99323.png" alt="Image Description">
          <span class="absolute top-0 end-0 rounded-se-xl rounded-es-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-neutral-900">
            Watch This Now
          </span>
        </div>
      </a>
      <!-- End Card -->
      <!-- Card -->
      <a class="group" href="https://youtu.be/UscRVc0HKvU">
        <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
          <img class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="https://i9.ytimg.com/vi/UscRVc0HKvU/maxresdefault.jpg?v=66738549&sqp=CMyN7LMG&rs=AOn4CLBTzfPZYkvVN-Vds3oPYx47LaX9-w" alt="Image Description">
          <span class="absolute top-0 end-0 rounded-se-xl rounded-es-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-neutral-900">
            Watch This Now
          </span>
        </div>
      </a>
      <!-- End Card -->
  
      <!-- Card -->
      <a class="group" href="https://youtu.be/DBBULGDh42I">
        <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
          <img class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl" src="https://i9.ytimg.com/vi/DBBULGDh42I/maxresdefault.jpg?v=66772693&sqp=CMyN7LMG&rs=AOn4CLBHjZuQubs6i4lxzgQixrTV-L1f2g" alt="Image Description">
          <span class="absolute top-0 end-0 rounded-se-xl rounded-es-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-neutral-900">
            Watch This Now
          </span>
        </div>
      </a>
      <!-- End Card -->
     
  
      <!-- Card -->
      <a class="group relative flex flex-col w-full min-h-60 bg-[url('https://images.unsplash.com/photo-1634017839464-5c339ebe3cb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3000&q=80')] bg-center bg-cover rounded-xl hover:shadow-lg transition" href="https://www.youtube.com/@thejamestanti" target="_blank">
        <div class="flex-auto p-4 md:p-6">
          <h3 class="text-xl text-white/90 group-hover:text-white"><span class="font-bold">James Tanti</span> publishes videos on a weekly basis that will help you excel in sales and leadership.</h3>
        </div>
        <div class="pt-0 p-4 md:p-6">
          <div class="inline-flex items-center gap-2 text-sm font-medium text-white group-hover:text-white/70">
            Visit James Tanti's YouTube Channel
            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
          </div>
        </div>
      </a>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->
</section>
<!-- ! END SECTION HYouTube -->